body {
	max-width: 1400px;
	font-family: 'Roboto', sans-serif;
}

.page-header {
	width: 100%;
	min-height: 120px;
	background-color: #0099cc;
	color: #fff;
}

.page-title {
	padding: 0.5em;
}

.navigation-item > a {
	text-decoration: none;
	color: #fff;
	margin-left: 1em;
}

.navigation-item > a:hover {
	text-decoration: none;
	color: #0099cc;
	background-color: #fff;
	margin-left: 1em;
}

.personal-details-section {
	width: 75%;
	min-height: 400px;
	display: inline-block;
}

.personal-details {
	text-align: justify;
	padding: 2em;
	line-height: 1.75em;
}

.profile-image-section {
	width: 25%;
	min-height: 400px;
	display: inline-block;
	float: right;
}

.profile-image {
	max-width: 300px;
	height: 380px;
	margin-top: 0.5em;
	padding-left: 3em;
}

.list-section {
	width: 100%;
	min-height: 400px;
}

.list-container {
	padding: 1em;
}

.list-titel {
	padding-left: 0.5em;
}

.listing > li {
	list-style: square;
	padding: 0.5em 0;
}

.page-footer {
	width: 100%;
	min-height: 75px;
	background-color: #f5f5f5;
}

.footer-info {
	text-align: center;
	padding-top: 0.5em;
}

